/*
.navbar {
  background: linear-gradient(to right, #2f4f4f, rgb(47, 136, 136));
}
*/

:root {
  --secondary-green: #7bab30;
}

.navbar,
footer {
  background: linear-gradient(to right, #fff, #e1e1e1, #f5f5f5);
  border-bottom: 3px solid var(--secondary-green);
  border-top: 3px solid var(--secondary-green);
}

header {
  border: 3px solid var(--secondary-green);
}

.nav-link-content {
  cursor: pointer;
}

.nav-link:hover .nav-link-content {
  border-bottom: 2px solid #6f9532;
  color: #6f9532;
}

.card-img {
  width: 100%;
  max-height: 55vh;
  object-fit: cover;
}

.section-fade-indicator::before {
  animation: pulse 1 ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes progression {
  0% {
    transition: 200ms;
    border:3px solid var(--secondary-green);
  }

  25% {
    border:3px solid #9dff00;
  }

  75% {
    border:3px solid #6c8f34;
  }

  100% {
    border:3px solid #aae64b;
    transition: 200ms;
  }
}
